@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5em;
}

.disabled-link {
  pointer-events: none;
}

.container {
  min-height: calc(100vh - 60px);
  padding-top: 2em;
  padding-bottom: 1.5em;
  /* max-width: 800px; */
}




